.logo {
    height: 64px;
    width: 130px;;
    transform: rotateY(180deg)
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 375px;
    height: 381px;
    margin: 0 auto;
    padding: 16px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    .booking-info {
        width: 343px;
        height: 28px;
        font-family: Noto Sans TC;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        color: #262626;
        margin: 8px 0px;
    }
}

.room-wrapper {
    .room-info {
        width: 343px;
        height: 24px;
        font-family: Noto Sans TC;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #262626;
        flex: none;
        order: 0;
        flex-grow: 1;
        margin: 0px 16px;
    }
    .people-statistics-wrapper {
        .people-count-field-wrapper {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            position: static;
            width: 343px;
            height: 40px;
            left: 16px;
            top: 100px;
            flex: none;
            order: 2;
            align-self: stretch;
            flex-grow: 0;
            margin: 16px 0px;
            .field-left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 191px;
                height: 40px;
                border-radius: 4px;
                order: 0;
                flex-grow: 1;
                margin: 0px 16px;
                .title {
                    position: static;
                    width: 191px;
                    height: 20px;
                    left: 0px;
                    top: 0px;
                    font-family: Noto Sans TC;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #262626;
                    flex: none;
                    order: 0;
                    align-self: stretch;
                    flex-grow: 0;
                    margin: 0px 0px;
                }
                .description {
                    position: static;
                    width: 191px;
                    height: 20px;
                    left: 0px;
                    top: 20px;
                    font-family: Noto Sans TC;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #8C8C8C;
                    margin: 0px 0px;
                }
            }
            .field-right {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                position: static;
                width: 136px;
                height: 40px;
                left: 207px;
                top: 0px;
                flex: none;
                order: 1;
                flex-grow: 0;
                margin: 0px 16px;
                .img-border {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 40px;
                    width: 40px;
                    padding: 8px;
                    background: #FFFFFF;
                    border: 1px solid #1E9FD2;
                    box-sizing: border-box;
                    border-radius: 4px;
                }
                .input-border {
                    input {
                        height: 40px;
                        width: 40px;
                        background: #FFFFFF;
                        border: 1px solid #BFBFBF;
                        box-sizing: border-box;
                        border-radius: 4px;
                        margin: 0px 8px;
                    }
                }
            }
        }
    }
}